####### Deny all ########
*

#### Allowed folders ####
!.config
!.cargo
!.github
!.windsurf
!.tools

!proptest-regressions
!src

##### Allowed files #####
!.editorconfig
!.gitattributes
!.gitignore
!.lefthook.yml
!.mise.toml
!.mise.lock
!.windsurfrules
!bacon.toml
!maskfile.md
!bun.lock
!Cargo.lock
!Cargo.toml
!commitlint.config.ts
!LICENCE
!package.json
!README.md
!rust-toolchain.toml
